{{define "interviews/components/details"}}
<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title inline">Details</h3>
		<span class="glyphicon glyphicon-search pull-right"></span>
	</div>

	<ul class="list-group">
		{{ if .Interview.Basic.Type }}
		<li class="list-group-item">
			<div class="left">Type</div>
			<div class="right">{{ .Interview.Basic.Type }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.Sector }}
		<li class="list-group-item">
			<div class="left">Sector</div>
			<div class="right">{{ .Interview.Basic.Sector }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.Industry }}
		<li class="list-group-item">
			<div class="left">Industry</div>
			<div class="right">
			{{ range .Interview.Basic.Industry }}
			{{ .Value }}<br/>
			{{ end }}
			</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.Experience }}
		<li class="list-group-item">
			<div class="left">Experience</div>
			<div class="right">{{ .Interview.Basic.Experience }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.Environment }}
		<li class="list-group-item">
			<div class="left">Environment</div>
			<div class="right">
			{{ range .Interview.Basic.Environment }}
			{{ .Value }}<br/>
			{{ end }}
			</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.Salary }}
		<li class="list-group-item">
			<div class="left">Salary</div>
			<div class="right">{{ .Interview.Basic.Salary }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.HoursPerWeek }}
		<li class="list-group-item">
			<div class="left">Hours Per Week</div>
			<div class="right">{{ .Interview.Basic.HoursPerWeek }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.WeekendsWorked }}
		<li class="list-group-item">
			<div class="left">Weekends Worked</div>
			<div class="right">{{ .Interview.Basic.WeekendsWorked }}</div>
		</li>
		{{ end }}

		{{ if .Interview.Basic.OvernightTravel }}
		<li class="list-group-item">
			<div class="left">Overnight Travel</div>
			<div class="right">{{ .Interview.Basic.OvernightTravel }}</div>
		</li>
		{{ end }}
	</ul>

</div>
{{end}}
