{{ define "foot" }}

  <!-- javascript -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
 
  <!-- bootstrap popovers -->
  <script>
    $("#settings").tooltip({
      container: "body",
      title: "Account settings",
      placement: "bottom"
    });

    $("#signout").tooltip({
      container: "body",
      title: "Sign out",
      placement: "bottom"
    });

    $("#create").tooltip({
      container: "body",
      title: "Create new...",
      placement: "bottom"
    });
  </script>

  <!-- analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42549821-2', 'jobgenius.net');
    ga('send', 'pageview');
  </script>

{{ end }}
