{{ define "head" }}

  {{ if .Title }} 
    <title>{{ .Title }} | Job Genius</title>
  {{ else }}
    <title>Job Genius</title>
  {{ end }}

  <!-- meta -->
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta name="description" content="Learn about jobs directly from the professionals." >
  <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  
  <!-- stylesheets -->
  <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/stylesheets/default.css" rel="stylesheet">
  
{{ end }}
