{{ define "header" }}
<header>
  <nav class="navbar navbar-square navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Job Genius</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/interviews">Interviews</a></li>
          <li><a href="/articles">Articles</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{ if index .Session.Values "Id" }}
          <li>
            <a href="#">
              <div style="display:inline-block;vertical-align:middle;">
				  <img class="profile img-rounded" src="http://identicons.github.com/{{.Session.Values.Id}}.png">
              </div>
              {{ index .Session.Values "DisplayName" }}
            </a>
          </li>
          <li class="dropdown">
            <a id="create" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/interviews/new"><i class="fa fa-fw fa-user"></i> New Interview</a></li>
              <li><a href="/articles/new"><i class="fa fa-fw fa-pencil-square-o"></i> New Article</a></li>
            </ul>
          </li>
          <li>
            <a id="settings" href="/settings">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </li>
          <li>
            <a id="signout" href="/signout">
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
          </li>
          {{ else }}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/auth/linkedin">LinkedIn</a></li>
              <li><a href="/signin">Email</a></li>
            </ul>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
{{ end }}
