{{ define "landingTemplate" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
  </head>
  <body>
    {{ template "header" . }}
      <div class="container">
        <div class="jumbotron">
          <h1>Job Genius, Inc.</h1>
          <p>Learn about jobs directly from the professionals doing them.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-6">
          <h3>Recent Articles</h3>
          {{ range .Articles }}
            <a href="/article?q={{ .Id }}">
              <div class="panel panel-default">
                <div class="panel-body">
                  {{ .Title }} 
                </div>
              </div>
            </a>
          {{ end }}
        </div>

        <div class="col-sm-6">
          <h3>Recent Interviews</h3>
          {{ range .Interviews }}
            <a href="/interview?q={{ .Id }}">
              <div class="panel panel-default">
                <div class="panel-body">
                  {{ .Title }} 
                </div>
              </div>
            </a>
          {{ end }}
        </div>
      {{ template "footer" . }}
    </div>
    <foot>
    {{ template "foot" . }}
    </foot>
  </body>
</html>
{{ end }}
