{{ define "termsTemplate" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" }}
    <div class="container">

      <div class="page-header">
        <h1>Terms and Conditions</h1>
      </div>

      <div class="content">
	<p>Last modified: May 20, 2013</p>
	<p>Welcome to Job Genius!</p>
	<p>Thanks for using our products and services (“Services”). The Services are provided by Job Genius Inc. (“Job Genius”), located at:</p>
	<div class="well well-small">
		<span>110 Westwood Plaza, Cornell Hall, Suite D-201 </span><br/>
		<span>Box 951481</span><br/>
		<span>Los Angeles, CA 90025 </span><br/>
		<span>United States</span>
	</div>
	<p>By using our Services, you are agreeing to these terms. Please read them carefully.</p>

	<br/>
	
	<h4>Using our Services</h4>
	<p>You must follow any policies made available to you within the Services.</p>
	<p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
	<p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.</p>
	<p>Our Services display some content that does not belong to Job Genius. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don’t assume that we do.</p>
	<p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.</p>

	<br/>
	
	<h4>Your Job Genius Account</h4>
	<p>You may need a Job Genius Account in order to use some of our Services. You may create your own Job Genius Account, or your Job Genius Account may be assigned to you by an administrator, such as your employer or educational institution. If you are using a Job Genius Account assigned to you by an administrator, different or additional terms may apply and your administrator may be able to access or disable your account.</p>
	<p>If you learn of any unauthorized use of your password or account, please contact us immediately.</p>

	<br/>
	
	<h4>Privacy and Copyright Protection</h4>
	<p>Job Genius’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that Job Genius can use such data in accordance with our privacy policies.</p>
	<p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.</p>
	<p>If you think somebody is violating your copyrights and want to notify us, contact us here.</p>

	<br/>
	
	<h4>Your Content in our Services</h4>
	<p>Our Services allow you to submit content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
	<p>When you upload or otherwise submit content to our Services, you give Job Genius (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services. Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services. Make sure you have the necessary rights to grant us this license for any content that you submit to our Services.</p>
	<p>You can find more information about how Job Genius uses and stores content in the privacy policy or additional terms for particular Services. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.</p>

	<br/>
	
	<h4>About Software in our Services</h4>
	<p>When a Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some Services may let you adjust your automatic update settings.</p>
	<p>Job Genius gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Job Genius as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Job Genius, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.</p>
	<p>Open source software is important to us. Some software used in our Services may be offered under an open source license that we will make available to you. There may be provisions in the open source license that expressly override some of these terms.</p>

	<br/>
	
	<h4>Modifying and Terminating our Services</h4>
	<p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.</p>
	<p>You can stop using our Services at any time, although we’ll be sorry to see you go. Job Genius may also stop providing Services to you, or add or create new limits to our Services at any time.</p>
	<p>We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.</p>

	<br/>
	
	<h4>Our Warranties and Disclaimers</h4>
	<p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.</p>
	<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER JOB GENIUS NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTION OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.</p>
	<p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>

	<br/>
	
	<h4>Liability for our Services</h4>
	<p>WHEN PERMITTED BY LAW, JOB GENIUS, AND JOB GENIUS’S SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>
	<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF JOB GENIUS, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>
	<p>IN ALL CASES, JOB GENIUS, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>

	<br/>
	
	<h4>Business uses of our Services</h4>
	<p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify Job Genius and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p><br/>
	
	<h4>About these Terms</h4>
	<p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>
	
	<p>If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.</p>
	<p>These terms control the relationship between Job Genius and you. They do not create any third party beneficiary rights.</p>
	<p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).</p>
	<p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
	<p>The laws of California, U.S.A., excluding California’s conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts of Los Angeles County, California, USA, and you and Job Genius consent to personal jurisdiction in those courts.</p>

	<br/>
	
	<p>For information about how to contact Job Genius, please visit our contact page.</p><br/><br/>
      <br>
      </div>

      {{ template "footer" }}

    </div>

    {{ template "foot" }}

  </body>
</html>
{{ end }}
