{{ define "landing" }}
{{ template "header" . }}

<div class="banner">
	<div class="container">
		<h3 class="title">Learn about jobs directly from the professionals doing them.</h3>
		<h4 class="slug">Connecting students and professionals to make the transition from learning to working as enjoyable as possible.</h4>
	</div>
</div>

<div class="container">
	<div class="col-left col-sm-6">
		<h3>Recent Articles</h3>
		{{ range .Articles }}
		<a href="/articles/{{.Id}}">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="preview">
						<img class="preview img-responsive img-rounded" src="http://identicons.github.com/{{.User.Id}}.png">
					</div>
					<span class="preview">{{ .Title }}</span>
				</div>
			</div>
		</a>
		{{ end }}
	</div>

	<div class="col-right col-sm-6">
		<h3>Recent Interviews</h3>
		{{ range .Interviews }}
		<a href="/interviews/{{ .Id }}">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="preview">
						<img class="preview img-responsive img-rounded" src="http://identicons.github.com/{{.User.Id}}.png">
					</div>
					<span class="preview">{{ .Name }}</span>
				</div>
			</div>
		</a>
		{{ end }}
	</div>
</div>
{{ template "footer" . }}
{{ end }}
