{{ define "article/show" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
  </head>
  <body>
    {{ template "header" . }}
	  <div class="container">
		  <div class="col-sm-8 col-sm-offset-2">

		  <h2 class="title">{{ .Article.Title }}</h2>
		  {{if .Article.Slug}}<h4 class="slug">{{ .Article.Slug }}</h4>{{end}}
		  <h6>Written by <a href="#">{{.Article.User.DisplayName}}</a> on {{.Article.Date}}</h6>
 
		  <div class="body">{{ .Markdown }}</div>

			<!--	
			<div class="panel panel-default" style="background-color:#dff0d8; color:#3c763d; border-color:#d6e9c6;">
			  <div class="panel-body">
				<span><a href="/auth/signin">Login</a> to join the discussion</span>
			  </div>
			</div>
			-->
		</div>
      </div>
      {{ template "footer" . }}
    <foot>
      {{ template "foot" . }}
    </foot>
  </body>
</html>
{{ end }}
