.inline {
  display:inline;
}

.left-arrow {
  font-size: 36px;
  margin-right: 25px;
}

.filter > label {
  display:block;
}

label > input[type="checkbox"],
label > input[type="radio"] {
  margin-right:5px;
}

footer {
  margin-top:50px;
  margin-bottom:100px;
}

footer > .container {
  border-top:solid 1px #eee;
  padding-top:25px;
}

.footer-column > h5 {
  text-transform: uppercase;
}

.footer-column > a,
.footer-column > p {
/*  color:#747474; */
  position:relative;
  display:block;
  padding:3px 0;
}

.col,
.col-left,
.col-right {
  padding-left: 0;
  padding-right: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col {
    padding-left:0;
    padding-right:0;
  }
  .col-left { 
    padding-left:0; 
    padding-right:15px;
  }
  .col-right { 
    padding-left:15px;
    padding-right:0; 
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
