.commentbox {
	margin-bottom:10px;
}

.panel-comments {
	margin-top:50px;
}

.panel-advertisement {
	background-color:#fcf8e3;
}

.list-group-item > .left {
	vertical-align: top; 
	display: inline-block;
	width: 45%; 
	font-weight: bold;
}
.list-group-item > .right { 
	display: inline-block;
	width: 50%; 
}
.navbar-inverse {
	border-radius:0;
	background-color:#2c3e50;
	border-color:#2c3e50;
}

.banner {
	background-color:#eee;
	width: 100%;
	padding:40px 0;
	margin-top:-20px; 
}
.banner > .slug{
	color:#BDBCBC;
}

.left {
	vertical-align: top;
	display: inline-block;
	width: 40%;
	font-weight: bold;
 }
 .right {
	 display: inline-block;
	 width: 50%;
 }

 .searchbar {
	 width: 100%;
	 margin-bottom:5px;
}
.search-btn,
.reset-btn {
	width: 49.26%;
	margin-bottom:10px;
}

/* articles/show */
.body img {
	width:75%;
	margin-left:12.5%;
	margin-right:12.5%;
	margin-top:15px;
	margin-bottom:15px;
}

.panel-body>div.preview {
	display:inline-block;
	vertical-align:middle;
	margin-right:25px;
	float:left;
}

.panel-body>span.preview {
	float:left;
	line-height:50px;
	vertical-align:middle;
}

.body {
	margin-top:25px;
}

.navbar .profile {
	width: 20px;
}

img.preview {
	width: 50px;
}

.inline {
	display:inline;
}

.left-arrow {
	font-size: 36px;
	margin-right: 25px;
}

.filter > label {
	display:block;
}

label > input[type="checkbox"],
label > input[type="radio"] {
	margin-right:5px;
}

footer {
	margin-top:50px;
	margin-bottom:100px;
}

footer > .container {
	border-top:solid 1px #eee;
	padding-top:25px;
}

.footer-column > h5 {
	text-transform: uppercase;
}

.footer-column > a,
.footer-column > p {
	/*  color:#747474; */
	position:relative;
	display:block;
	padding:3px 0;
}

.col,
.col-left,
.col-right {
	padding-left: 0;
	padding-right: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.col {
		padding-left:0;
		padding-right:0;
  }
  .col-left { 
	  padding-left:0; 
	  padding-right:15px;
  }
  .col-right { 
	  padding-left:15px;
	  padding-right:0; 
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
