{{ define "interviews/show" }}

<!DOCTYPE html>
<html>
  <head>{{ template "head" . }}</head>
  <body>
    {{ template "header" . }}
	<div class="container">
        <div class="page-header">
			<a href="/interviews" class="left-arrow"><i class="fa fa-chevron-left"></i></a>
			<h1 class="inline">{{ .Interview.Name.String }} <small>{{ .Interview.Position.String }}</small></h1>
        </div>

		<div class="col-sm-10 col-sm-offset-1" style="margin-bottom:25px;">
			<video id="video" poster="http://jobgeniusvideos.s3.amazonaws.com/videos/thumbnails/4342/thumbnail-4342_0002.jpg" controls width="100%">
			    <source src="http://jobgeniusvideos.s3.amazonaws.com/videos/converted/4342/What_I_do_mp4_1391670592.mp4" type="video/mp4">
		    	<source src="http://jobgeniusvideos.s3.amazonaws.com/videos/converted/4342/What_I_do_webm_1391670593.webm" type="video/webm">
		    </video>
		</div>

	    <div class="col-sm-6 left-col">

	    	<!--  Daily Tasks By Hour  -->
	    	<div class="panel panel-default">
		        <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Daily Tasks By Hour</h3>
					<span class="glyphicon glyphicon-time pull-right"></span>
	            </div>
	            <div class="panel-body">
	            	<div id="breakdown"></div>
	            </div>
	        </div>

	        <!--  Motivation & Fulfillment  -->
	    	<div class="panel panel-default">
		        <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Motivation & Fulfillment</h3>
					<span class="glyphicon glyphicon-time pull-right"></span>
	            </div>
	            <div class="panel-body">
	            	<div id="fulfillment"></div>
	            </div>
	        </div>

	        <!--  Solo vs Group Work  -->
	    	<div class="panel panel-default">
		        <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Solo vs Group Work</h3>
					<span class="glyphicon glyphicon-time pull-right"></span>
	            </div>
	            <div class="panel-body">
		            <div id="solovgroup"></div>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-6 right-col">

	    	<!--  Details  -->
			<div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Details</h3>
	                <span class="glyphicon glyphicon-search pull-right"></span>
	            </div>
	            <div class="panel-body">
	                {{ if .Interview.Basic.Type.Valid }}
	                    <span class="pull-left"><b>Type:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.Type.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.Sector.Valid }}
	                    <span class="pull-left"><b>Sector:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.Sector.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.Industry }}
	                    <span class="pull-left"><b>Industry:</b></span>
	                    {{ range .Interview.Basic.Industry }}
	                    <span class="pull-right">{{ .Value.String }}</span><br>
	                    {{ end }}
	                {{ end }}
	                {{ if .Interview.Basic.Experience.Valid }}
	                    <span class="pull-left"><b>Experience:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.Experience.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.Environment }}
	                    <span class="pull-left"><b>Environment:</b></span>
	                    {{ range .Interview.Basic.Environment }}
	                    <span class="pull-right">{{ .Value.String }}</span><br>
	                    {{ end }}
	                {{ end }}
	                {{ if .Interview.Basic.Salary.Valid }}
	                    <span class="pull-left"><b>Salary:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.Salary.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.HoursPerWeek.Valid }}
	                    <span class="pull-left"><b>Hours Per Week:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.HoursPerWeek.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.WeekendsWorked.Valid }}
	                    <span class="pull-left"><b>Weekends Worked:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.WeekendsWorked.String }}</span><br>
	                {{ end }}
	                {{ if .Interview.Basic.OvernightTravel.Valid }}
	                    <span class="pull-left"><b>Overnight Travel:</b></span>
	                    <span class="pull-right">{{ .Interview.Basic.OvernightTravel.String }}</span><br>
	                {{ end }}
	            </div>
	        </div>

	        <!--  Educational Background  -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Educational Background</h3>
	                <span class="glyphicon glyphicon-book pull-right"></span>
	            </div>
	            <div class="panel-body">
	            {{ range .Interview.Education }}
                    <span class="pull-left"><b>{{ .Degree.String }}</b></span>
                    <span class="pull-right">{{ .Year.Int64 }}</span>
                    <hr style="margin-bottom:5px;">
                    <span class="pull-left"><b>Concentration:</b></span>
                    <span class="pull-right">{{ .Concentration.String }}</span><br>
                    <span class="pull-left"><b>University:</b></span>
                    <span class="pull-right">{{ .University.String }}</span><br><br>
                {{ end }}
	            </div>
	            <div class="panel-footer clearfix" style="background-color: #428bca; color: #fff; border-color: #428bca;">
	                <span class="pull-left">Did you find this information helpful?</span>
	                <span class="pull-right">Yes&nbsp;&nbsp;|&nbsp;&nbsp;No</span>
	            </div>
	        </div>

	        <!-- Job Requirements  -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Job Requirements</h3>
					<span class="glyphicon glyphicon-list pull-right"></span>
				</div>
	            <div class="panel-body">
                    <span class="pull-left"><b>Certifications:</b></span>
                    {{ range .Interview.Requirements.Certifications }}
                    <span class="pull-right">{{ .Value.String }}</span><br>
                    {{ end }}
                    
                    <br>
                    
                    <span class="pull-left"><b>Skills:</b></span>
                    {{ range .Interview.Requirements.Skills }}
                    <span class="pull-right">{{ .Value.String }}</span><br>
                    {{ end }}
	            </div>
	        </div>

	        <!-- Skills and Tools  -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="panel-title" style="display:inline;">Skills and Tools</h3>
					<span class="glyphicon glyphicon-wrench pull-right"></span>
				</div>
	            <div class="panel-body">
                    <span class="pull-left"><b>Soft Skills:</b></span>
                    {{ range .Interview.Tools.Skills }}
                    <span class="pull-right">{{ .Value.String }}</span><br>
                    {{ end }}
                    
                    <br>
                    
                    <span class="pull-left"><b>Tools:</b></span>
                    {{ range .Interview.Tools.Tools }}
                    <span class="pull-right">{{ .Value.String }}</span><br>
                    {{ end }}
	            </div>
	        </div>
	    </div>

<!-- 	    <div class="col-sm-12">
		    <div class="panel panel-default">
		        <div class="panel-heading"><h4>Comments</h4></div>
		        <div class="panel-body"></div>
			</div>
		</div> -->
	</div>
	
	{{ template "footer" . }}

    <foot>
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript" src="/public/javascript/charts.js"></script>
	    {{ template "foot" . }}
    </foot>

  </body>
</html>

{{ end }}
