{{ define "accounts/index" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="container">
      <div class="page-header">
        <a href="/" class="left-arrow"><i class="fa fa-chevron-left"></i></a>
        <h1 class="inline">{{ .Title }}</h1>
      </div>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
        {{ range .Accounts }}
          <tr>
            <td>{{ .Id.Int64 }}</td>
            <td><a href="account/{{ .Id.Int64 }}">{{ .Name.String }}</a></td>
            <td>{{ .Email.String }}</td>
            <td>{{ .Role.Int64 }}</td>
          </tr>
        {{ end }}
      </table>
      {{ template "footer" . }}
    </div>
    {{ template "foot" . }}
  </body>
</html>
{{ end }}
