{{ define "accounts/show" }}
<!DOCTYPE html>
<html>
  <head>
    {{ template "head" . }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="container">

      <div class="page-header">        
        <a href="/accounts" class="left-arrow"><i class="fa fa-chevron-left"></i></a>
        <h1 class="inline">{{ .Account.Name.String }} <small>{{ .Account.Email.String }}</small></h1>
      </div>
      
      <h4>Interviews</h4>
      <ul>
      </ul>

      <h4>Articles</h4>
      <ul>
      {{ range .Articles }}
        <li><a href="/article/{{ .Id.Int64 }}">{{ .Title.String }}</a></li> 
      {{ end }}
      </ul>
      
      {{ template "footer" . }}
    </div>
    {{ template "foot" . }}
  </body>
</html>
{{ end }}
