{{ define "head" }}

  {{ if .Title }} 
    <title>{{ .Title }} | Job Genius</title>
  {{ else }}
    <title>Job Genius</title>
  {{ end }}

  <!-- meta -->
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta name="description" content="Learn about jobs directly from the professionals." >
  <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->

  <!-- stylesheets -->
  <link href="/resources/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/resources/stylesheets/default.css" rel="stylesheet">

  <!-- javascript -->
  <script src="/resources/components/jquery/dist/jquery.min.js"></script>
  <script src="/resources/components/bootstrap/dist/js/bootstrap.min.js"></script>
{{ end }}
